/* jumbotron */
.jumbotron {
 text-align: center;
 background-color: rgb(4, 39, 39);
}

/*header*/
.display-8 {
 color: whitesmoke;
}

.lead {
    color: whitesmoke;
}

.my-4 {
    background-color: white;
}


/* body */
body {
    background-color: white;
}

/* container */
.container {
    display: grid; 
    grid-template-columns: 30% 70%;
    grid-column-gap: 2em;
}

/* search panel */
#searchPanel {
    margin-left: 5%;
    float: left;
}

/* results */
#results {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    padding: 10px;
    text-indent: 1em;
    
}

.cities {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    padding: 10px;
    text-indent: 1em;
}

#searchPanel {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
}

h6 {
    padding: 10px;
}

.box {
    background-color: #008080;
    color: whitesmoke
}

#forecast {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-column-gap: 2em;
    grid-auto-rows: 200px;

}

#uvIndex {
    margin-bottom: 20px;
}

li {
    list-style: none;
    padding: 10px;
    margin-top: 5px;

}
/* .weather
 {
    float: left;
} */

/* #recentlySearched {
    padding: 5px;
    border-style: solid;
    border-color: darkcyan;
} */