/* jumbotron */

.jumbotron {
    text-align: center;
    background-color: rgb(4, 39, 39);
}

/*header*/

.display-8 {
    color: whitesmoke;
}

.lead {
    color: whitesmoke;
}

.my-4 {
    background-color: white;
}

/* body */

body {
    background-color: white;
}

/* container */

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 2em;
    grid-auto-rows: minmax(1000px);
}

/* search panel */

#searchPanel {
    margin-left: 5%;
    float: left;
}

/* results */

#results {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    padding: 5px;
    text-indent: 1em;
    margin-bottom: 50px;
}

.cities {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    padding: 10px;
    text-indent: 1em;
}

#searchPanel {
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
}

h6 {
    padding: 10px;
}

.box {
    margin-top: 5px;
    background-color: #008080;
    color: whitesmoke
}

#forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2em;
    grid-auto-rows: 200px;
    font-size: 0.8em;
    text-align: center;
}

p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

#uvIndex {
    margin-bottom: 20px;
}

li {
    list-style: none;
    padding: 10px;
    margin-top: 5px;
}

img {
    position: center;
}